{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks",
    "import"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single", {"avoidEscape": true}],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "no-cond-assign": ["off"],
    "no-empty": ["off"],
    "no-extra-boolean-cast": ["off"],
    "no-loop-func": ["off"],
    "no-unused-vars": ["error", {
      "args": "all",
      "argsIgnorePattern": "^_"
    }],
    "no-shadow": ["error"],
    "brace-style": ["off", "1tbs", {"allowSingleLine": true}],
    "no-spaced-func": ["error"],
    "space-before-blocks": ["error"],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "keyword-spacing": ["error"],
    "comma-dangle": ["error", "always-multiline"],
    "eqeqeq": ["error", "smart"],
    "no-useless-escape": ["off"],
    "curly": ["error", "multi-line", "consistent"],
    "space-in-parens": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "comma-spacing": ["error", {
      "before": false,
      "after": true
    }],
    "space-infix-ops": ["error"],
    "func-call-spacing": ["error", "never"],
    "key-spacing": ["error"],
    "jsx-quotes": ["error", "prefer-double"],
    "dot-location": ["error", "object"],
    "generator-star-spacing": ["error"],
    "new-parens": ["error"],
    "no-confusing-arrow": ["off", {"allowParens": true}],
    "no-duplicate-imports": ["error"],
    "no-extra-bind": ["error"],
    "no-lonely-if": ["error"],
    "no-sequences": ["error"],
    "no-trailing-spaces": ["error"],
    "no-useless-constructor": ["error"],
    "no-useless-computed-key": ["error"],
    "no-whitespace-before-property": ["error"],
    "padded-blocks": ["error", "never"],
    "template-curly-spacing": ["error"],
    "eol-last": ["error", "always"],
    "arrow-body-style": ["error"],
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "arrow-spacing": ["error"],
    "no-mixed-operators": ["error"],
    "prefer-arrow-callback": ["error"],
    "prefer-const": ["error"],
    "prefer-reflect": ["error"],
    "prefer-rest-params": ["error"],
    "prefer-spread": ["error"],
    "prefer-template": ["error"],
    "no-var": ["error"],
    "react/prefer-stateless-function": "error",
    "react/self-closing-comp": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "import/no-unresolved": "error",
    "import/named": "error",
    "import/namespace": "error",
    "import/default": "error",
    "import/export": "error",
    "import/no-useless-path-segments": "error",
    "import/no-named-as-default-member": "error",
    "import/no-duplicates": "error"
  }
}